<!-- form.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<h2>Megareport</h2>
<hr class="mb-4">

<form action="%%[base_url]%%/reports/%%[report_name]%%/report.php" method="POST" id="mega" name="mega" target="_blank">
<div class="container-fluid">
    <!-- Field Selection Section -->
    <div class="row mb-4">
        <div class="col">
            <label class="mb-2">Select Cases fields...</label>
            <div class="border border-dark" style="padding: 3px">
                <div style="background-color:#FFFFFF;height:50vh;overflow:auto;">%%[cases,field_list]%%</div>
            </div>
        </div>
        <div class="col">
            <label class="mb-2">Client fields...</label>
            <div class="border border-dark" style="padding: 3px">
                <div style="background-color:#FFFFFF;height:50vh;overflow:auto;">%%[contacts,field_list]%%</div>
            </div>
        </div>
        <div class="col">
            <label class="mb-2">and Activity fields to display.</label>
            <div class="border border-dark" style="padding: 3px">
                <div style="background-color:#FFFFFF;height:50vh;overflow:auto;">%%[activities,field_list]%%</div>
            </div>
        </div>
    </div>

    <!-- Main Content Layout -->
    <div class="row">
        <!-- Left Column - Filter Parameters -->
        <div class="col-6">
            <h5 class="mb-3">Select report parameters:</h5>
            
            <!-- Filter Groups A-F -->
            <div class="filter-groups mb-4">
                <!-- Group A -->
                <div class="card mb-3">
                    <div class="card-body bg-light">
                        <div class="row">
                            <div class="col">%%[ffield0,fields,nomsg]%%</div>
                            <div class="col">%%[fcomp0,comparison_sql]%%</div>
                            <div class="col">%%[fvalue0,input_text]%%</div>
                        </div>
                        <div class="row" style="margin-top: 5px"></div>
                        <i>OR</i>
                        <div class="row" style="margin-top: 5px"></div>
                        <div class="row">
                            <div class="col">%%[ffield6,fields,nomsg]%%</div>
                            <div class="col">%%[fcomp6,comparison_sql]%%</div>
                            <div class="col">%%[fvalue6,input_text]%%</div>
                        </div>
                        <div class="row" style="margin-top: 5px"></div>
                        <i>OR</i>
                        <div class="row" style="margin-top: 5px"></div>
                        <div class="row">
                            <div class="col">%%[ffield7,fields,nomsg]%%</div>
                            <div class="col">%%[fcomp7,comparison_sql]%%</div>
                            <div class="col">%%[fvalue7,input_text]%%</div>
                        </div>
                    </div>
                </div>
                <div class="text-center mb-3">
                    <strong style="color:red">AND</strong>
                </div>

                <!-- Group B -->
                <div class="card mb-3">
                    <div class="card-body bg-light">
                        <div class="row">
                            <div class="col">%%[ffield1,fields,nomsg]%%</div>
                            <div class="col">%%[fcomp1,comparison_sql]%%</div>
                            <div class="col">%%[fvalue1,input_text]%%</div>
                        </div>
                        <div class="row" style="margin-top: 5px"></div>
                        <i>OR</i>
                        <div class="row" style="margin-top: 5px"></div>
                        <div class="row">
                            <div class="col">%%[ffield8,fields,nomsg]%%</div>
                            <div class="col">%%[fcomp8,comparison_sql]%%</div>
                            <div class="col">%%[fvalue8,input_text]%%</div>
                        </div>
                        <div class="row" style="margin-top: 5px"></div>
                        <i>OR</i>
                        <div class="row" style="margin-top: 5px"></div>
                        <div class="row">
                            <div class="col">%%[ffield9,fields,nomsg]%%</div>
                            <div class="col">%%[fcomp9,comparison_sql]%%</div>
                            <div class="col">%%[fvalue9,input_text]%%</div>
                        </div>
                    </div>
                </div>
                <div class="text-center mb-3">
                    <strong style="color:red">AND</strong>
                </div>

                <!-- Group C -->
                <div class="card mb-3">
                    <div class="card-body bg-light">
                        <div class="row">
                            <div class="col">%%[ffield2,fields,nomsg]%%</div>
                            <div class="col">%%[fcomp2,comparison_sql]%%</div>
                            <div class="col">%%[fvalue2,input_text]%%</div>
                        </div>
                        <div class="row" style="margin-top: 5px"></div>
                        <i>OR</i>
                        <div class="row" style="margin-top: 5px"></div>
                        <div class="row">
                            <div class="col">%%[ffield10,fields,nomsg]%%</div>
                            <div class="col">%%[fcomp10,comparison_sql]%%</div>
                            <div class="col">%%[fvalue10,input_text]%%</div>
                        </div>
                        <div class="row" style="margin-top: 5px"></div>
                        <i>OR</i>
                        <div class="row" style="margin-top: 5px"></div>
                        <div class="row">
                            <div class="col">%%[ffield11,fields,nomsg]%%</div>
                            <div class="col">%%[fcomp11,comparison_sql]%%</div>
                            <div class="col">%%[fvalue11,input_text]%%</div>
                        </div>
                    </div>
                </div>
                <div class="text-center mb-3">
                    <strong style="color:red">AND</strong>
                </div>

                <!-- Group D -->
                <div class="card mb-3">
                    <div class="card-body bg-light">
                        <div class="row">
                            <div class="col">%%[ffield3,fields,nomsg]%%</div>
                            <div class="col">%%[fcomp3,comparison_sql]%%</div>
                            <div class="col">%%[fvalue3,input_text]%%</div>
                        </div>
                        <div class="row" style="margin-top: 5px"></div>
                        <i>OR</i>
                        <div class="row" style="margin-top: 5px"></div>
                        <div class="row">
                            <div class="col">%%[ffield12,fields,nomsg]%%</div>
                            <div class="col">%%[fcomp12,comparison_sql]%%</div>
                            <div class="col">%%[fvalue12,input_text]%%</div>
                        </div>
                        <div class="row" style="margin-top: 5px"></div>
                        <i>OR</i>
                        <div class="row" style="margin-top: 5px"></div>
                        <div class="row">
                            <div class="col">%%[ffield13,fields,nomsg]%%</div>
                            <div class="col">%%[fcomp13,comparison_sql]%%</div>
                            <div class="col">%%[fvalue13,input_text]%%</div>
                        </div>
                    </div>
                </div>
                <div class="text-center mb-3">
                    <strong style="color:red">AND</strong>
                </div>

                <!-- Group E -->
                <div class="card mb-3">
                    <div class="card-body bg-light">
                        <div class="row">
                            <div class="col">%%[ffield4,fields,nomsg]%%</div>
                            <div class="col">%%[fcomp4,comparison_sql]%%</div>
                            <div class="col">%%[fvalue4,input_text]%%</div>
                        </div>
                        <div class="row" style="margin-top: 5px"></div>
                        <i>OR</i>
                        <div class="row" style="margin-top: 5px"></div>
                        <div class="row">
                            <div class="col">%%[ffield14,fields,nomsg]%%</div>
                            <div class="col">%%[fcomp14,comparison_sql]%%</div>
                            <div class="col">%%[fvalue14,input_text]%%</div>
                        </div>
                        <div class="row" style="margin-top: 5px"></div>
                        <i>OR</i>
                        <div class="row" style="margin-top: 5px"></div>
                        <div class="row">
                            <div class="col">%%[ffield15,fields,nomsg]%%</div>
                            <div class="col">%%[fcomp15,comparison_sql]%%</div>
                            <div class="col">%%[fvalue15,input_text]%%</div>
                        </div>
                    </div>
                </div>
                <div class="text-center mb-3">
                    <strong style="color:red">AND</strong>
                </div>

                <!-- Group F -->
                <div class="card mb-3">
                    <div class="card-body bg-light">
                        <div class="row">
                            <div class="col">%%[ffield5,fields,nomsg]%%</div>
                            <div class="col">%%[fcomp5,comparison_sql]%%</div>
                            <div class="col">%%[fvalue5,input_text]%%</div>
                        </div>
                        <div class="row" style="margin-top: 5px"></div>
                        <i>OR</i>
                        <div class="row" style="margin-top: 5px"></div>
                        <div class="row">
                            <div class="col">%%[ffield16,fields,nomsg]%%</div>
                            <div class="col">%%[fcomp16,comparison_sql]%%</div>
                            <div class="col">%%[fvalue16,input_text]%%</div>
                        </div>
                        <div class="row" style="margin-top: 5px"></div>
                        <i>OR</i>
                        <div class="row" style="margin-top: 5px"></div>
                        <div class="row">
                            <div class="col">%%[ffield17,fields,nomsg]%%</div>
                            <div class="col">%%[fcomp17,comparison_sql]%%</div>
                            <div class="col">%%[fvalue17,input_text]%%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right Column - Configuration Controls -->
        <div class="col-6">
            <div class="row mb-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body bg-light">
                            <h6 class="card-title mb-3">Field Order</h6>
                            <div class="mb-3">
                                %%[fo,fo,multiselect,style=border:1px black solid;,nomsg,noblank,size=8]%%
                            </div>
                            <div class="btn-group">
                                <input class="btn btn-outline-secondary btn-sm" type="button" value="Move Up" onclick="move_up();" />
                                <input class="btn btn-outline-secondary btn-sm" type="button" value="Move Down" onclick="move_down();" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title mb-3">Staff Filter</h6>
                            %%[users_list,user_list,width=auto]%%
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title mb-3">Calculations</h6>
                            <div class="mb-3">
                                <label class="form-label">Calculate sum of:</label>
                                %%[sum,sum,nomsg]%%
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Calculate totals of:</label>
                                %%[count,count,nomsg]%%
                            </div>
                            <div class="card card-body bg-light">
                                <label class="form-label">Group sums by:</label>
                                %%[group_by,group_by,nomsg]%%,
                                %%[group_by2,group_by,nomsg]%%
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title mb-3">Results Configuration</h6>
                            <div class="mb-3">
                                <label class="form-label">Maximum results:</label>
                                %%[recordlimit,recordlimit,noblank]%%
                            </div>
                            <div class="card card-body bg-light mb-3">
                                <label class="form-label">Order results by:</label>
                                %%[order_by,order_by,nomsg]%%,
                                %%[order_by2,order_by,nomsg]%%
                            </div>
                            <div class="card card-body bg-light party_types">
                                <label class="form-label">Included Party Types:</label>
                                <div class="party_types">
                                    %%[relation_codes,relation_codes,checkbox_list,width=auto]%%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Report Options & Submit -->
    <div class="card mb-4">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-9">
                    <div class="form-check mb-2">
                        %%[show_sql,yes_no,checkbox,label=Show SQL]%%
                    </div>
                    <div class="form-check mb-2">
                        %%[report_format,checkbox,default_value=csv,label=Send to a spreadsheet]%%
                    </div>
                    <div class="form-check mb-2">
                        %%[recode_pba_id,yes_no,checkbox,label=Show PBA Names Instead of IDs]%%
                    </div>
                    <div class="form-check mb-2">
                        %%[recode_act_fields,yes_no,checkbox,label=Recode category&#44; funding&#44; and user_id activity fields]%%
                    </div>
                    <div class="form-check">
                        %%[recode_litc_fields_and_more,yes_no,checkbox,label="Recode Case Fields"]%%
                    </div>
                </div>
                <div class="col-3 text-end">
                    <input class="btn btn-primary btn-lg save" type="submit" value="Run Report" onClick="highlight_all_fo();">
                </div>
            </div>
        </div>
    </div>
</div>
</form>

<!-- Load Saved Report Section -->
<hr class="mb-4">
<h2 class="mb-4">Load Saved Report</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <form name='docgen' id='docgen'>
                        <input type="hidden" name="form_id" id="form_id" value="">
                        <div id="saved_reports" style="background-color:#FFFFFF;height:170px;border:1px black solid;overflow:auto; border-radius: 3px; padding: 10px;">
                            %%[saved_reports,file_list,mode=edit_select,doc_type=R,folder_field=parent_folder,doc_field=form_id]%%
                        </div>
                        <div class="mt-3">
                            <button class="btn btn-secondary" onclick="load_report('mega',document.docgen.form_id.value);return false;">Load Saved Report</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    %%[form_id,input_hidden]%%
                    <form class="mb-4">
                        <label class="form-label">Report Name:</label>
                        <input class="form-control mb-3" type="text" id="doc_name" name="doc_name" value="Megareport Saved: %%[current_date]%%" size="25" tabindex="1">
                        <button class="btn btn-secondary" onclick="save_report('mega','doc_name');setTimeout('reload(\'saved_reports\')',500);return false;">Save Report</button>
                    </form>
                    <form action="%%[base_url]%%/ops/upload_document.php" name="add_folder" method="POST">
                        <label class="form-label">New Folder Name:</label>
                        <input class="form-control mb-3" type="text" value="" name="folder_name">
                        <input class="btn btn-secondary" type="submit" name="add_folder" value="Add Folder">
                        <input type="hidden" name="folder" value="1">
                        <input type="hidden" name="parent_folder" value="">
                        <input type="hidden" name="doc_type" value="R">
                        <input type="hidden" name="report_name" value="%%[report_name]%%">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  $('#reportSubmenu').toggleClass('show');
</script>
<script>
  // handling of adding relation_codes to the field ordering.
  checkboxes = document.querySelectorAll('input[type=checkbox]');
  relation_checkboxes = [];
  for (var i = 0; i < checkboxes.length; i++) {
    if (checkboxes[i].parentElement.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement.classList.contains("party_types")) {
      relation_checkboxes.push(checkboxes[i]);
    }
  }
  for (var i = 0; i < relation_checkboxes.length; i++) {
    relation_checkboxes[i].addEventListener('change', (event) => {
      handle_relation_codes_selection();
    });
  }

  function handle_relation_codes_selection() {
    add_option_rel("fo",'conflict.relation_code', 'Party Type');
  }

  function add_option_rel(menu_name, field_name, field_text)
  {
    var container = document.getElementById(menu_name);
    var is_found = false;
    checked_relation_checkboxes = [];
    for (var h = 0; h < relation_checkboxes.length; h++){
        if (relation_checkboxes[h].checked) {
          checked_relation_checkboxes.push(relation_checkboxes[h]);
        }
    }
    if(container.length) {
      for (var i = 0; i < container.length; i++){
        if (container.options[i].value == field_name){
          
          if (checked_relation_checkboxes.length == 0) {
            container.options[i] = null;
          }
          
          is_found = true;
          break;
        }
      }
    }
    if (is_found == false){
      var addIndex = container.length;
      container.options[addIndex] = new Option(field_text,field_name);
    }
  } 
  // The Check: All | None | Invert controls don't really work right with the code that add/removes "Party Type" from the field order box. So let's just remove. 
  document.querySelectorAll('th')[1].remove();

</script>
%%[megareport.js,javascript,parse]%%
%%[ajax_init.js,javascript]%%
%%[file_list.js,javascript,parse]%%
%%[save_report.js,javascript,parse]%%
%%[checkbox_list.js,javascript]%%
