<!DOCTYPE html>
<html lang="en">
  
	<head>
	  
		<meta charset="utf-8">
		<title>Pika: %%[page_title]%%</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<script type="text/javascript" src="%%[base_url]%%/js/jquery.min.js"></script>		
		
		<link rel="icon" href="%%[base_url]%%/favicon.ico" />
		<link rel="shortcut icon" href="%%[base_url]%%/favicon.ico" />
		<link rel="apple-touch-icon" href="%%[base_url]%%/m/images/pika-icon-ios.png" />
		<link rel="apple-touch-icon" sizes="57x57" href="%%[base_url]%%/m/images/pika-icon-ios-57.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="%%[base_url]%%/m/images/pika-icon-ios-72.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="%%[base_url]%%/m/images/pika-icon-ios-114.png" />		

		<!-- Google fonts, Material Design font icons -->

		<link href="//fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro" rel="stylesheet">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		

		<!-- custom style sheet -->

		<link href="%%[base_url]%%/css/custom.css" type="text/css" rel="stylesheet" />

	</head>

	<body class="site">

		<header>

			<div class="header-container">

				<div class="material-logo">
					<a href="%%[base_url]%%"><i class="material-icons">account_balance</i></a>
					<a class="brand" href="%%[base_url]%%" id="page_title">%%[org_name]%%<!-- org_name --></a>
				</div>

				<div class="horizontal-menu">

					<ul>
						
						<li><a class="go-to" href="#">Go to&#133;</a>

							<ul>

						         <li><a href="%%[base_url]%%/case_list.php?mode=open">My Open Cases</a></li>
						         <li><a href="%%[base_url]%%/case_list.php?mode=all">All Open | Closed Cases</a></li>
						         <li><a href="%%[base_url]%%/intake2.php">New Client Intake</a></li>					         
						         <li><a href="%%[base_url]%%/activity.php?screen=compose&act_type=T">New Timeslip</a></li>         
						         <li><a href="%%[base_url]%%/activity.php?screen=compose&act_type=K">New Case Tickler</a></li>
						         <li><a href="%%[base_url]%%/cal_day.php">My Day Calendar</a></li>
						         <li><a href="%%[base_url]%%/cal_week.php">My Week Calendar</a></li>
						         <li><a href="%%[base_url]%%/reports/">All Reports</a></a></li>
						         <li><a href="%%[base_url]%%/site_map.php">Site Map</a></li>					         

					       </ul></li>

						<li><a class="" href="%%[base_url]%%/password.php"><i class="material-icons">lock_outline</i>&nbsp;%%[user_handle]%%<!-- username --></a></li>						
						
						<li><a class="" href="%%[base_url]%%/services/logout.php">Log Off</a></li>
						
					</ul>

					<div class="search-form">
						
						<form name="sform" method="get" action="%%[base_url]%%/search.php" id="sform">
							<input name="s" value="" placeholder="Search Pika" accesskey="f" type="text" id="searchinput" autocomplete="off" data-provide="typeahead" data-items="4">
							<button class="search-icon" type="submit"><i class="material-icons">search</i></button>
						</form>

					</div>

				</div> <!-- /horizontal-menu -->

			</div> <!-- /header-container --> 

		</header>

		<!-- breadcrump -->

		<div class="breadcrumb">
		
			<ul>
				<li id="software_label">%%[nav]%%</li>	
			</ul>
		
		</div> 

		<main>
			
			<div id="page_content" class="container">
				<!-- begin page content -->
				%%[content]%%
				<!-- end page content -->
			</div>

		</main>
		
		<div class="footer-container">

			<footer class="footer-one">
			
				<div id="ql">
					
					<a href="%%[base_url]%%/case_list.php?mode=open">Case List</a>&nbsp;&nbsp;&#183;&nbsp;
					<a href="%%[base_url]%%/addressbook.php">Contacts</a>&nbsp;&nbsp;&#183;&nbsp;
					<a href="%%[base_url]%%/intake2.php">Intake</a>&nbsp;&nbsp;&#183;&nbsp;&nbsp;
					<a href="%%[base_url]%%/activity.php?screen=compose&act_type=T">Time Slip</a>&nbsp;&nbsp;&#183;&nbsp;
					<a href="%%[base_url]%%/cal_day.php">Calendar</a>&nbsp;&nbsp;&#183;&nbsp;
					<a href="%%[base_url]%%/reports/">Reports</a>&nbsp;&nbsp;&#183;&nbsp;
					<a href="%%[base_url]%%/site_map.php">Site Map</a>&nbsp;&nbsp;&#183;&nbsp;
					<a href="http://pikasoftware.com/docs/index.php/Pika_User_Manual">User Manual</a>&nbsp;&nbsp;&#183;&nbsp;
					<a href="mailto:%%[admin_email]%%">Tech Support</a>
				</div>

				<div id="warnings">	
					%%[php_warnings]%%
				</div>
			
			</footer>

			<footer class="footer-two">
				
				<div>
				<a href="http://www.npr.org/templates/story/story.php?storyId=129609461">&#8220;The arc of the moral universe is long, but it bends toward justice&#8221;</a>	
				</div>
				
				<div class="ocm">					
					Coded with open source <i class="material-icons">favorite</i> at the Pika <a href="https://github.com/brianlawlor/ocm">Open Case Management Project</a>
				</div>

			</footer>

		</div> <!-- /.footer-container -->

	</body> <!-- /.site -->

</html>