<!-- form.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<h2>Time Keeping Report</h2>
<form action="%%[base_url]%%/reports/%%[report_name]%%/report.php" method="POST" name=form1 target="_blank">
<div class="container-fluid">
  <div class="row">
    <div class="col">
      Start Date:<br/>
      %%[date_start,input_date_selector]%%<br/>
      End Date:<br/>
      %%[date_end,input_date_selector]%%<br/>
    </div>
    <div class="col">
      Staff Member:<br/>
      %%[user_id,staff_array]%%<br/>
      Pro Bono Attorney:<br/>
      %%[pba_id,pba_array]%%<br/>
    </div>
    <div class="col">
      Case Number:<br/>
      <input class="form-control" type="text" name="number" value="" tabindex="1" /><br/>
      Category:<br/>
      <input class="form-control" type="text" name="category" value="" tabindex="1" />	
      Office:<br/>
      %%[office,office]%%<br/>
      Funding:<br/> 
      %%[funding,funding]%%<br/>
    </div>
    <div class="col">
      Sort Order:<br/>
      %%[sort_order,sort_order]%%<br/>
      %%[report_format,checkbox,default_value=csv,label=Send to a spreadsheet]%%<br/>
      %%[show_sql,checkbox,label=Show SQL]%%<br/>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="submit" name="gen" value="Generate Report" class="btn btn-primary" tabindex="1" />
    </div>
  </div>
</div>
</form>
<script>
  $('#reportSubmenu').toggleClass('show');
</script>
%%[ajax_init.js,javascript]%%
%%[date_selector.js,javascript,parse]%%
