<!-- form.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<h2>VOCA Victimization Report</h2>
<form action="%%[base_url]%%/reports/%%[report_name]%%/report.php" method="POST" name=form1 target="_blank">
<div class="container-fluid">
  <div class="row">
    <div class="col">
      Closed On or After:<br/>
      %%[close_date_begin,input_date_selector]%%<br/>
      Closed On or Before:<br/>
      %%[close_date_end,input_date_selector]%%<br/>
      Cases Open on this Day:<br/>
      %%[open_on_date,input_date_selector]%%<br/>
    </div>
    <div class="col">
      <input type="checkbox" name="report_format" value="csv">
      <label for="report_format">Send to a spreadsheet</label><br/>
      <input type="checkbox" name="show_sql" value="1">
      <label for="show_sql">Show SQL</label>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="submit" name="gen" value="Generate Report" class="btn btn-primary" tabindex="1"/>
    </div>
  </div>
</div>
</form>
<script>
  $('#reportSubmenu').toggleClass('show');
</script>
%%[ajax_init.js,javascript]%%
%%[date_selector.js,javascript,parse]%%
