<!-- form.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<form action="%%[base_url]%%/reports/%%[report_name]%%/report.php" method="POST" name=form1 target="_blank">
<div class="container-fluid">
  <div class="row">
    <h2>Inactive Case Report</h2>
  </div>
  <div class="row">
      <div class="col">
        Opened On or After:<br/>
        %%[open_date_begin,input_date_selector]%%<br/>
        Opened On or Before:<br/>
        %%[open_date_end,input_date_selector]%%<br/>
        Inactive On or After:<br/>
        %%[inactive_date_begin,input_date_selector]%%
      </div>
      <div class="col">
        Staff Member:<br/>
        %%[user_id,user_id]%%<br/>
        Funding:<br/>
        <input class="form-control" type="text" name="funding" value="" tabindex="1"><br/>
        Office:<br/>
        <input class="form-control" type="text" name="office" value="" tabindex="1" /><br/>
        Status:<br/>
        <input class="form-control" type="text" name="status" value="" tabindex="1" />
      </div>
      <div class="col">
        Limit:<br/>
        %%[limit,limit]%%<br/>
        %%[report_format,checkbox,default_value=csv,label=Send to a spreadsheet]%%<br/>
        %%[show_sql,checkbox,label=Show SQL]%%
      </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="submit" name="gen" value="Generate Report" class="save" tabindex="1" />
    </div>
  </div>
</div>
</form>
<script>
  $('#reportSubmenu').toggleClass('show');
</script>
%%[ajax_init.js,javascript]%%
%%[date_selector.js,javascript,parse]%%
