<!-- form.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<h2>LSC Justice Gap Report</h2>
<form action="%%[base_url]%%/reports/%%[report_name]%%/report.php" method="POST" name=form1 target="_blank">
<div class="container-fluid">
  <div class="row">
    <div class="col">
      Opened On or After:<br/>
      %%[open_date_begin,input_date_selector]%%<br/>
      Opened On or Before:<br/>
      %%[open_date_end,input_date_selector]%%
    </div>
    <div class="col">
      Funding:<br/>
      <input class="form-control" type="text" name="funding" value="" tabindex="1"><br/>
      Office:<br/>
      <input class="form-control" type="text" name="office" value="" tabindex="1" /><br/>
      Status:<br/>
      <input class="form-control" type="text" name="status" value="" tabindex="1" />
    </div>    
    <div class="col">
      Unduplicated:<br/>
      %%[undup,yes_no]%%<br/>
      <input type="checkbox" name="report_format" value="csv">
      <label for="report_format">Send to a spreadsheet</label><br/>
      <input type="checkbox" name="show_sql" value="1">
      <label for="show_sql">Show SQL</label>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input class="btn btn-primary" type="submit" name="gen" value="Generate Report" tabindex="1" />
    </div>
  </div>
</div>
</form>
<script>
  $('#reportSubmenu').toggleClass('show');
</script>
%%[ajax_init.js,javascript]%%
%%[date_selector.js,javascript,parse]%%

