<!-- activityC.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<form action="%%[base_url]%%/ops/update_activity.php" name="ws" method=POST>
<div class="container-fluid">
	<div class="row">
		<div class="col" style="padding: 1em;">
		Summary (public):<br/>
		%%[summary,input_textarea]%%<br/>
		Notes (private):<br/>
		%%[notes,input_textarea]%%<br/>
		<span class="fas fa-angle-right"></span>
		<a href="javascript:toggleBox('demodiv',1);">Text Highlighting</a>
		%%[textFormat]%%
		&nbsp;&nbsp;
		%%[deleteActivity]%%

		</div>
		<div class="col" style="padding: 1em;">

		Date: <br/>
		%%[act_date,input_date_selector]%%<br/>
		<script>
      		jQuery(document).ready(function() {
        		jQuery("#act_date").datepicker();
      		});
    	</script>
		Start Time:<br/>
		%%[act_time,input_text]%%<br/>
		End Time:<br/>
		%%[act_end_time,input_text]%%<br/>
		Type of Activity:<br/>
		%%[category,category]%%<br/>
		%%[owner_menu]%%
		Case: %%[number]%%<br/>
		%%[new_case_menu]%%<br/>
		Funding Source:<br/>
		%%[funding,funding]%%<br/>

		</div>
    <div class="col" style="padding: 1em;">
      <div id="sms_reminders" style="display: none;">
        <h3>SMS Reminders</h3>
        <!--  <p>Primary Client: <strong>Jane Smith</strong></p> -->
        <p>Send SMS reminder to the primary client on this case?<br>
        <!-- <p>Select an open case to enable SMS reminders -->
          %%[sms_mins_before,sms_mins_before]%%<br>
					<!-- sms_send_time = %%[sms_send_time_unmog]%% %%[sms_send_time]%%<br> -->
					Send the SMS reminder to:
					%%[sms_mobile,which_phone,radio]%%<br>
					<!--
          <label>%%[sms_send_pri,yes_no,checkbox]%% Send to primary phone</label>
          <label>%%[sms_send_alt,yes_no,checkbox]%% Send to alternate phone</label><br>
					-->
          <strong>Select a Message</strong><br>
          %%[sms_message_id,sms_messages]%%<br>
					Extra message for the client (max. 255 characters):<br>
					<textarea name="sms_extra_message" maxlength="255" rows="5" style="resize: both; width: 100%;" >%%[sms_extra_message]%%</textarea>
        </p>
      </div>
			<p>%%[sms_status]%%</p>
    </div>
	</div>
	<div class="row">
		<div class="col">
		%%[act_url,input_hidden]%%
		%%[act_id,input_hidden]%%
		%%[act_type,input_hidden]%%
		<input type="submit" name="next_act" value="Save, Add Another" tabindex="1" class="btn ocm-btn-primary" />
		&nbsp;
		<input type="submit" name="close_act" value="Save and Close" tabindex="1" class="btn ocm-btn-primary" />
		&nbsp;
		<input type="submit" name="cancel" value="Cancel" tabindex="1" class="btn btn-outline-secondary" />
		</div>
	</div>
</div>

</form>

<script language="JavaScript" type="text/javascript">
<!--
document.ws.summary.focus();
//-->
</script>

<script>

function setSmsVisibility() {
  if (document.ws.case_id.value.length > 0) {
    document.getElementById("sms_reminders").style.display = "block";
  }
  
  else {
    document.getElementById("sms_reminders").style.display = "none";
  }
}

setSmsVisibility();

</script>

<script>
  $('#calendarSubmenu').toggleClass('show');
</script>

%%[textFormat.js,javascript]%%
%%[ajax_init.js,javascript]%%
%%[date_selector.js,javascript,parse]%%
%%[setFunding.js,javascript,parse]%%

