<!-- case-docs.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<div class="container-fluid">
<div class="row">
<div class="col-sm">            
                        <div class="card card-body bg-light">
			<h2>Case Intake Report</h2>
			<form action="%%[base_url]%%/reports/case_print/report.php" method="post" target='_blank'>
			<p>
				<input type="hidden" name="report" value="case_print"/>
				<input type="hidden" name="case_id" value="%%[case_id]%%"/>
                                <div class="form-check-inline">
                                <label class="form-check-label">
				<input type="checkbox" name="info" value="1" checked class="form-check-input" tabindex="1"/>Case Info &nbsp;&nbsp;
                                </label>
                                <label class="form-check-label">
				<input type="checkbox" name="notes" value="1" checked class="form-check-input" tabindex="1"/>Case Notes &nbsp; 
                                </label>
                                </div>
				<input class="btn btn-outline-dark" type="submit" value="Generate Report" tabindex="1"/>
			</p>
			</form>
			</div>
                        <div class="row" style="margin-top: 20px"></div>
                        <div class="card card-body bg-light">
			<form action="%%[base_url]%%/ops/docgen.php" method="post" name="docgen">
			<h2>Document Assembly</h2>
			%%[forms,file_list,doc_type=F,mode=select,doc_field=form_id]%%
			%%[form_id,input_hidden]%%
			<p class="side">
				Form Recipient:<br/>
				%%[recipient,case_contacts_menu,show_pba]%%<br/>
				Client Name:<br/>
				%%[client,case_contacts_menu,relation_code=1]%%<br/>
				</td>
				<td>
				<p class="side">
				Opposing Party:<br/>
				%%[opposing,case_contacts_menu,relation_code=2,first_value]%%<br/>
				Opposing Counsel:<br/>
				%%[opp_counsel,case_contacts_menu,relation_code=3,first_value]%%
			</p>
			<p>
				<input type="checkbox" id="autosave" name="autosave"><label for="autosave">Save a copy in Document Storage</label>
			</p>
			<p>
				<input type="hidden" name="case_id" value="%%[case_id]%%"/>
				<input type="hidden" name="debug" value="0"/>
				<input class="btn btn-outline-dark" type="submit" value="Make New Doc" tabindex="1" onclick="if(isEmpty(form_id)) { alert('Please select a form.'); return false;}"/>
				<a onclick="document.docgen.debug.value=1;document.docgen.submit();">[?]</a>
			</p>
			</form>
                        </div>
</div>
<div class="col-sm">
                        <div class="card card-body bg-light">
			<h2>Document Storage</h2>
			%%[case_files,file_list,doc_type=C,folder_field=parent_folder]%%
			
						
			<form action="%%[base_url]%%/ops/upload_document.php" name="add_folder" method="POST">
                        <div class="row" style="margin: 7px"></div>
			%%[folder_name,input_text]%%
                        <div class="row" style="margin: 3px"></div>
			<input class="btn btn-outline-dark" type="submit" name="add_folder" value="Add Folder"/>
			%%[folder,input_hidden,default=1]%%
			%%[parent_folder,input_hidden]%%
			%%[doc_type,input_hidden,default=C]%%
			%%[case_id,input_hidden]%%
			</form>
                        </div>
                        <div class="row" style="margin-top: 20px"></div>
                        <div class="card card-body bg-light">
			<h2 class="hdt">Add a Document</h2>
			<form id="upload_form" action="%%[base_url]%%/ops/upload_document.php" name="add_document" enctype="multipart/form-data" method="post">
			<div class="upload_div btn btn-large btn-outline-dark">
				<span><i class="icon-plus icon-white"></i> Select Files</span>
				<input type="file" id="doc_upload" name="doc_upload[]" class="upload_control" tabindex="1" data-multiple-caption="{count} files selected" multiple>
			</div>
			<div id="upload_gif" >
                          <div class="fa-3x">
                            <i class="fas fa-spinner fa-spin"></i>
                          </div>
			</div>
			Description of file:<br/>
			%%[description,input_textarea,class=form-control,rows=5]%%
			%%[parent_folder,input_hidden]%%
			%%[doc_type,input_hidden,default=C]%%
			%%[case_id,input_hidden]%%
			<br/>
			</form>
                        </div>
</div>
</div>
%%[jquery.min.js,javascript]%%

<script type="text/javascript">
function isEmpty(field) {
   if ((field.value.length==0) || (field.value==null)) {
      return true;
   } else { return false; }
}
	
$('.upload_control').change(function() {
	$('#upload_gif').show("slow");
	$('#upload_form').submit();
});

/*
$(function () {
    $("#doc_upload").bind("click", function () {
        if (typeof ($("#doc_upload")[0].files) != "undefined") {
            $.each($("#doc_upload")[0].files, function(key, value) {
							var size = parseFloat($("#doc_upload")[0].files[0].size / 1024).toFixed(2);
            	alert(size + " KB.");
						});
        } else {
            // This browser does not support HTML5.
        }
    });
});
*/

//-->
</script>

%%[ajax_init.js,javascript]%%
%%[file_list.js,javascript,parse]%%
