<!-- case_screen.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
%%[flags]%%
<div class="row">
<div class="col-2 d-none d-lg-block" id="case_summary">
			<h2>Case Summary</h2>
			<div class="card text-white" style="background: #7386D5">
                                <div class="card-header">
				<strong>%%[number]%%</strong><br>
                                </div>
                                <div class="card-body">     
                                <h4 class="card-title">
				%%[status text source=case_status]%%
                                </h4>
                                <div class="card-text">
				%%[lsc_problem_text]%%
                                </div>
                                </div>
			</div>
			
			%%[begin:client]%%
			<div class="card border mb-3">
                        <div class ="card-header">
			  <strong><a href="%%[base_url]%%/contact.php?contact_id=%%[contact_id]%%&case_id=%%[case_id]%%&number=%%[number]%%">%%[client_name]%%</a></strong><br/>
			  <em>Primary Client</em><br/>
                        </div>
                        <div class="card-body">
			Address:<br/>
			<strong>%%[client_address]%%</strong><br/>
			Phone: <strong>%%[client_phone]%% %%[phone_notes]%%</strong><br/>
			Notes: <strong>%%[notes]%%</strong><br/>
			Language: <strong>%%[language,language,text]%%</strong><br/>
			Birth Date: <strong>%%[birth_date]%%</strong><br/>
                        <script>
    		          var client_name = "%%[client_name]%%";
		        </script>
        
                        <span class="fas fa-angle-right"></span>
                        <a onClick="return confirm('Are you sure you want to remove ' + client_name + 'from this case?');" href="%%[base_url]%%/ops/delete_conflict.php?conflict_id=%%[conflict_id]%%&case_id=%%[case_id]%%">remove</a>
                        </div>
			</div>
			%%[end:client]%%
			
			%%[begin:contacts]%%
			<p class="card">
				<strong><a href='%%[base_url]%%/contact.php?contact_id=%%[contact_id]%%&case_id=%%[case_id]%%&number=%%[number]%%'>%%[full_name]%%</a></strong><br/>
				<em>%%[role]%%</em><br/>
				%%[full_phone]%% %%[phone_notes]%%<br/>
        <script LANGUAGE="JavaScript" type="text/javascript">
		    var full_name%%[contact_id]%% = "%%[full_name]%%";
		</script>

        <span class="fas fa-angle-right"></span>
        <a onClick="return confirm('Are you sure you want to remove ' + full_name%%[contact_id]%% + ' from this case?');" href="%%[base_url]%%/ops/delete_conflict.php?conflict_id=%%[conflict_id]%%&case_id=%%[case_id]%%">remove</a> </p>
			</p>
			%%[end:contacts]%%
      <h2>Actions</h2>
      <p> <span class="fas fa-angle-right"></span> <a class="butt" href="%%[base_url]%%/timer.php?case_id=%%[case_id]%%&funding=%%[funding]%%&number=%%[number]%%" onclick="popUp({url:this.href,name:'popUpTimer'});return false;">Popup Timer</a><br/>
        <span class="fas fa-angle-right"></span> Add <a class="butt" href="%%[base_url]%%/activity.php?screen=compose&case_id=%%[case_id]%%&funding=%%[funding]%%&number=%%[number]%%&act_type=K">Tickle</a><br/>
        <span class="fas fa-angle-right"></span> Add <a class="butt" href="%%[base_url]%%/activity.php?screen=compose&case_id=%%[case_id]%%&funding=%%[funding]%%&number=%%[number]%%&problem=%%[problem]%%&act_type=L">LSC Other Matter</a><br/>
<!-- 07-14-2011 - caw - email link added -->       		    
		<span class="fas fa-angle-right"></span>
		<a href="mailto:?subject=Case:%20%%[number]%%&body=%0A%0A%0A%0AFollowing%20is%20a%20link%20to%20the%20case%20file:%20%0Ahttps://%%[server_url]%%%%[base_url]%%/case.php?case_id=%%[case_id]%%%0A%0A**Access%20to%20case%20is%20dependent%20upon%20valid%20%%[branding]%%%20login%20**">Email Case Link</a><br/>
 <!-- end of addition -->   
        <span class="fas fa-angle-right"></span> <a class="butt" href="%%[base_url]%%/transfer.php?case_id=%%[case_id]%%&case_number=%%[number]%%">Transfer this case</a> <br/>
        <span class="fas fa-angle-right"></span> <a class="butt" href="%%[base_url]%%/ops/duplicate_case.php?case_id=%%[case_id]%%">Duplicate this case</a> <br/>
        <span class="fas fa-angle-right"></span> <a class="butt" href="%%[base_url]%%/case.php?case_id=%%[case_id]%%&screen=confirm_delete">Delete this case</a> <br/>
      <form action="%%[base_url]%%/case_contact.php" method="get">
        <p class="side"><span class="fas fa-angle-right"></span> Add to this case:
          %%[relation_code,relation_codes,menu_no_blank]%%<br/>
          First:<br/>
          <input class="form-control" type=text name=first_name tabindex="1"/>
          <br/>
          Middle:<br/>
          <input class="form-control" type=text name=middle_name tabindex="1"/>
          <br/>
          Last (or Org. Name):<br/>
          <input class="form-control" type=text name=last_name tabindex="1"/>
          <br/>
          Jr., Sr., etc.<br/>
          <input class="form-control" type=text name=extra_name tabindex="1"/>
          <br/>
          Date of Birth:<br/>
          <input class="form-control" type="text" name="birth_date" maxlength="25" tabindex="1"/>
          <br/>
          SSN: <br/>
          <input class="form-control" type="text" name="ssn" onkeyup="pika_ssn(this);" value="" maxlength="11" size="20" tabindex="1"/>
          <br/>
          <input type="hidden" name="case_id" value="%%[case_id]%%"/>
          <input type="hidden" name="number" value="%%[number]%%"/>
          <!--<input type=hidden name=screen value="new_intake"/>-->
        </p>
        <p class="side">
          <input type="submit" value="Add" tabindex="1"/>
        </p>
      </form>
 </div>
 <div class="col-sm-10">
                <div class="d-block d-lg-none"><h3><a href="%%[base_url]%%/contact.php?contact_id=%%[contact_id]%%">%%[full_name]%%</a> <a href="tel:%%[full_phone]%%"><span class="fa fa-fw fa-phone"></span></a><a href="mailto:%%[email]%%" target="_blank"><span class="fa fa-fw fa-envelope"></span></a></h3></div>
		<div id="case_tabs">%%[case_tabs]%%</div>
                <div class="row" style="margin-top:20px"></div>
		<div class="container-fluid" id="case_screen">%%[case_screen]%%</div>
</div>
</div>
<script src="%%[base_url]%%/js/popUp.js"></script>
