<!-- case-elig.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<h2>Eligibility Screening</h2>
<form action="%%[base_url]%%/ops/update_case.php" method="post" name="ws">

<!-- household size calculator -->
<div class="card card-body bg-light">
  <div class="row">
    <div class="col-4">
	    Children:<br/>
	    <input type=text name=children value="%%[children]%%" tabindex=1 onChange="ph_change();" class="form-control"/><br/>
    </div>
    <div class="col-4">
	    Adults:<br/>
	    <input type=text name=adults value="%%[adults]%%" tabindex=1 onChange="ph_change();" class="form-control"/><br/>
    </div>
    <div class="col-4">
	    # Helped:<br/>
	    <input type=text name=persons_helped value="%%[persons_helped]%%" tabindex=1 class="form-control"/>
    </div>
  </div>
</div>

<div class="row" style="margin-top:20px;"></div>

<div class="card card-body bg-light">
<div class="card card-body bg-light">
<!-- wage calculator -->
<h3>Income</h3>
<div class="row"> 
    <div class="col-sm">   
    Wage Calculator:
    </div>
</div>
<div class="row">
    <div class="col-sm">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Hourly Wage</span>
        <span class="input-group-text">$/hr</span>
        <input type=text name=dontuse1 onChange="calcWage();" tabindex="3" class="form-control"/>
      </div>
    </div>
    </div>
  <div class="col-sm">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Average Hours Per Week</span>
      <input type=text name=dontuse2 onChange="calcWage();" tabindex="3" class="form-control"/> 
    </div>
  </div>
  </div>
  <div class="col-sm">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Average Weekly Pay</span>
        <span class="input-group-text">$</span>
        <input type=text name=dontuse3 tabindex="3" class="form-control"/>
      </div>
<input type="button" style="margin-left: 7px;" value="Send to Grid" class="btn btn-success" onclick="sendToGrid();"/>
</div>
</div>
</div>

<div class="row" style="margin-top:20px;"></div>

        <div class="row"> 
          <div class="col-4">Type of Income</div>
          <div class="col-4">Frequency</div>
          <div class="col-4">Amount</div>
        </div>
        <div class="row"> 
          <div class="col-4"> 
            %%[income_type0,income_type]%%
          </div>
          <div class="col-4"> 
            %%[income_freq0,income_freq,default=A,class=form-control]%%
          </div>
          <div class="col-4"> 
            <div class="input-group"> 
              <div class="input-group-prepend">
              <span class="input-group-text">$</span>
              <input type=text name=annual0 value="%%[annual0]%%" tabindex=1 onChange="annual_change();" class="form-control"/>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">Type of Income</div>
          <div class="col-4">Frequency</div>
          <div class="col-4">Amount</div>
        </div>
        <div class="row">
          <div class="col-4">
            %%[income_type1,income_type]%%
          </div>
          <div class="col-4">
            %%[income_freq1,income_freq,default=A,class=form-control]%%
          </div>
          <div class="col-4">
            <div class="input-group">
              <div class="input-group-prepend">
              <span class="input-group-text">$</span>
              <input type=text name=annual1 value="%%[annual1]%%" tabindex=1 onChange="annual_change();" class="form-control"/>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">Type of Income</div>
          <div class="col-4">Frequency</div>
          <div class="col-4">Amount</div>
        </div>
        <div class="row">
          <div class="col-4">
            %%[income_type2,income_type]%%
          </div>
          <div class="col-4">
            %%[income_freq2,income_freq,default=A,class=form-control]%%
          </div>
          <div class="col-4">
            <div class="input-group">
              <div class="input-group-prepend">
              <span class="input-group-text">$</span>
              <input type=text name=annual2 value="%%[annual2]%%" tabindex=1 onChange="annual_change();" class="form-control"/>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">Type of Income</div>
          <div class="col-4">Frequency</div>
          <div class="col-4">Amount</div>
        </div>
        <div class="row">
          <div class="col-4">
            %%[income_type3,income_type]%%
          </div>
          <div class="col-4">
            %%[income_freq3,income_freq,default=A,class=form-control]%%
          </div>
          <div class="col-4">
            <div class="input-group">
              <div class="input-group-prepend">
              <span class="input-group-text">$</span>
              <input type=text name=annual3 value="%%[annual3]%%" tabindex=1 onChange="annual_change();" class="form-control"/>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">Type of Income</div>
          <div class="col-4">Frequency</div>
          <div class="col-4">Amount</div>
        </div>
        <div class="row">
          <div class="col-4">
            %%[income_type4,income_type]%%
          </div>
          <div class="col-4">
            %%[income_freq4,income_freq,default=A,class=form-control]%%
          </div>
          <div class="col-4">
            <div class="input-group">
              <div class="input-group-prepend">
              <span class="input-group-text">$</span>
              <input type=text name=annual4 value="%%[annual4]%%" tabindex=1 onChange="annual_change();" class="form-control"/>
              </div>
            </div>
          </div>
        </div>

<div class="row" style="margin-top:20px;"></div>      
     
	<div class="row">
          <div class="input-group col-sm" style="align-items: baseline">
            <div class="input-group-prepend">
	      <span class="input-group-text">Gross Income:</span>
              <span class="input-group-text">$</span>
              <input type="text" name="income_only" tabindex="1" value="%%[income_only]%%" class="form-control" readonly />
            </div>
          </div>
          <div class="input-group col-sm" style="align-items: baseline">
            <div class="input-group-prepend">
	      <span class="input-group-text">Net Income:</span>
              <span class="input-group-text">$</span> 
              <input type="text" name="income" tabindex="1" value="%%[income]%%" class="form-control" readonly />
            </div>
          </div>
         </div>
         <div class="row" style="margin-top:20px;"></div>
         <div class="row">
         <div class="col-sm">
        % of Poverty<a href='%%[base_url]%%/helpdocs/elig_guide.php' onclick="popUp({url:this.href,name:'Eligibility Guide'});return false;">[?]</a>:
        <input type="button" value="Calculate" tabindex="1" onclick="calc_poverty();" class="btn ocm-btn-primary">
        <input type=text name=poverty value="%%[poverty]%%" readonly style="width: 6.8em; text-align: right;"/>
        <input type=hidden name="poverty_income_only" readonly  style="width: 6.8em; text-align: right;"/>
        %  
         </div>
        </div>
        <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="lsc_income_change">Is Income Likely to Change?</label>
            %%[lsc_income_change,lsc_income_change]%%<br/>
          </div>
        </div>
        
        <div class="col-sm">
          <div class="form-group">
            <label for="just_income">Income Justification:</label>
            %%[just_income,just_income]%%<br/> 
          </div>
        </div>
</div>
 </div>

<div class="row" style="margin-top:20px;"></div>
<div class="card card-body bg-light">
<h3>Assets</h3>
<div class="row">
  <div class="col-6">Type of Asset</div>
  <div class="col-6">Value</div>
</div>
<div class="row">
  <div class="col-6">
    %%[asset_type0,asset_type]%%
  </div>
  <div class="input-group col-6">
    <div class="input-group-prepend">
      <span class="input-group-text">$</span>
      <input type=text name=asset0 tabindex=1 onChange="asset_change();" value="%%[asset0]%%" class="form-control"/>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">Type of Asset</div>
  <div class="col-6">Value</div>
</div>
<div class="row">
  <div class="col-6">
    %%[asset_type1,asset_type]%%
  </div>
  <div class="input-group col-6">
    <div class="input-group-prepend">
      <span class="input-group-text">$</span>
      <input type=text name=asset1 tabindex=1 onChange="asset_change();" value="%%[asset1]%%" class="form-control"/>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">Type of Asset</div>
  <div class="col-6">Value</div>
</div>
<div class="row">
  <div class="col-6">
    %%[asset_type2,asset_type]%%
  </div>
  <div class="input-group col-6">
    <div class="input-group-prepend">
      <span class="input-group-text">$</span>
      <input type=text name=asset2 tabindex=1 onChange="asset_change();" value="%%[asset2]%%" class="form-control"/>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">Type of Asset</div>
  <div class="col-6">Value</div>
</div>
<div class="row">
  <div class="col-6">
    %%[asset_type3,asset_type]%%
  </div>
  <div class="input-group col-6">
    <div class="input-group-prepend">
      <span class="input-group-text">$</span>
      <input type=text name=asset3 tabindex=1 onChange="asset_change();" value="%%[asset3]%%" class="form-control"/>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">Type of Asset</div>
  <div class="col-6">Value</div>
</div>
<div class="row">
  <div class="col-6">
    %%[asset_type4,asset_type]%%
  </div>
  <div class="input-group col-6">
    <div class="input-group-prepend">
      <span class="input-group-text">$</span>
      <input type=text name=asset4 tabindex=1 onChange="asset_change();" value="%%[asset4]%%" class="form-control"/>
    </div>
  </div>
</div>


<div class="row" style="margin-top:20px;"></div>
   
<div class="row">
  <div class="input-group col-12">
    <div class="input-group-prepend">
        <span class="input-group-text">Total Assets:</span>
        <span class="input-group-text">$</span> 
        <input type="text" name="assets" tabindex="1" value="%%[assets]%%" class="form-control" readonly />
    </div>
  </div>
</div>
</div>

<div class="row" style="margin-top:20px;"></div>

        <div class="card card-body bg-light">
          <div class="form-group">
      	    <label for="citizen">Citizenship</label>
            %%[citizen,citizen]%% 
          </div>
            %%[citizen_check,yes_no,checkbox,label=Verified]%%
        </div>
        <div class="row" style="margin-top:20px;"></div>
        <div class="card card-body bg-light">
            %%[dom_viol,yes_no,checkbox,label=Domestic Violence?]%%<br/>
            %%[veteran_household,yes_no,checkbox,label=Veteran in Household?]%%<br/>
        </div>
            <div class="row" style="margin-top:20px;"></div>
            <div class="card card-body bg-light">     
              Referred By:<br/>
	      %%[referred_by,referred_by]%%<br/>
              Intake Type:<br/>
	      %%[intake_type,intake_type]%%<br/>
              Client Age:<br/>
              <input class="form-control" type=text name="client_age" value="%%[client_age]%%"  tabindex="1"/><br/>
            </div>
<div class="row" style="margin-top:20px;"></div>
    	Eligility Notes:<br/>
    	<TEXTAREA class="form-control" name="elig_notes" tabindex="1" rows="3">%%[elig_notes]%%</TEXTAREA><br>
        <div class="row" style="margin-top:20px;"></div>

<input type="hidden" name="screen" value="elig"/>
<input type="hidden" name="case_id" value="%%[case_id]%%"/>

	<input type=submit name="update_case" value="Save" tabindex="2" class="btn ocm-btn-primary" accesskey="s" />

</form>

%%[case-elig.js,javascript,parse]%%

