<!-- case_act.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
%%[begin:notes_header]%%
<h2>Case Notes for %%[number]%%</h2>
%%[end:notes_header]%%

%%[begin:notes_order]%%
<p>
	<span class="fas fa-angle-right"></span>
	<a href="%%[base_url]%%/case.php?case_id=%%[case_id]%%&screen=act&order=%%[next_order]%%" class="small">Reverse Order of Case Notes</a>
</p>
%%[end:notes_order]%%

%%[begin:flex_row]%%
<p>
	<strong>%%[type_desc]%%</strong>&nbsp;-&nbsp;%%[user_id text source=act_user_id]%%%%[pba_id text source=act_pba_id]%%<br/>
	<span class="small">
	%%[act_timestamp]%% &nbsp; | &nbsp; %%[hours]%% hours &nbsp; | &nbsp; 
	<!-- 2020-12-30 aclark added act_url=case.php in order to make sure that once slips are edited and saved, the user is sent back to the case and not calendar -->
	<a href="%%[base_url]%%/activity.php?act_id=%%[act_id]%%&screen=edit&act_url=case.php&case_id=%%[case_id]%%" class="small" id="a%%[act_id]%%">Edit this record</a>
	</span>
<p>
<blockquote>
	<span style="font-family: georgia, times, serif; font-size: 14px;">
	%%[summary]%%%%[notes]%%
	</span>
</blockquote>
<div style="border-top: 1px solid #999999;"></div>
<br/>
%%[end:flex_row]%%

%%[begin:notes_footer]%%
<p>
	Total of <strong>%%[hours_worked]%%</strong> %%[hours_label]%% completed on this case.
</p>
%%[end:notes_footer]%%
%%[dnuhider.js,javascript]%%