<!-- contact_list.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<form name="form1" method="get" action="%%[base_url]%%/addressbook.php">
<h2>Contact Information</h2>
<table id="middle-content" width="100%" summary="">
	<tr valign="top">
		<td class="clf">
			First:<br/>
			<input type=text name=first_name value="%%[first_name]%%" tabindex="1"/><br/>
		</td>
		<td class="clf">
			Middle:<br/>
			<input type=text name=middle_name value="%%[middle_name]%%" tabindex="1"/><br/>
		</td>
		<td class="clf">
			Last (or Org. Name):<br/>
			<input type=text name=last_name value="%%[last_name]%%" tabindex="1"/><br/>
		</td>
		<td class="clf">
			Jr., Sr., etc.<br/>
			<input type=text name=extra_name value="%%[extra_name]%%" tabindex="1"/><br/>
		</td>
		<td class="clf">
			Date of Birth:<br/>
			<input type="text" name="birth_date" value="%%[birth_date]%%" maxlength="25" tabindex="1"/><br/>
		</td>
	</tr>
	<tr>
		<td class="clf">
			%%[ssn,input_ssn]%%
		</td>
		<td class="clf" colspan="2">
			Telephone Number: <br/>
			<span class="maskt">
			(<input type=text name="area_code" value="%%[area_code]%%" onkeyup="pika_area_code(this, 3, 'phone');" style="width: 2em;" maxlength="3" tabindex=1 class=maskf>) 
			<input type=text name="phone" value="%%[phone]%%" onkeyup="pika_phone(this);" style="width: 11.2em;" maxlength="8" tabindex="1" class="maskf">
			</span>
		</td>
		<td class="clf" colspan="2">
		    <input type="hidden" name="order_field" value="%%[order_field]%%"/>
		    <input type="hidden" name="order" value="%%[order]%%"/>
		    <input type="hidden" name="offset" value="%%[offset]%%"/>
	    	<input type="submit" name="dmodes" value="Search Names" tabindex="1"/>
	    	or
	    	<input type="submit" name="dmodeb" value="Browse Names" tabindex="1"/>
		</td>
	</tr>
</table>
</form>
%%[search_list]%%
%%[ab_list]%%
%%[begin:flex_header]%%
<table class="table table-striped" summary="">
	<tbody>
	<tr>
		<th>&nbsp;</th>
		<th>Name</th>
		<th>Phone #</th>
		<th>Alt. #</th>
		<th>Address</th>
		<th>City</th>
		<th>Birth Date</th>
		<th>SSN</th>
	</tr>
%%[end:flex_header]%%
%%[begin:flex_row]%%
    <tr class="row%%[row_class]%%" valign="top">
    	<td>
			<span class="fas fa-angle-right"></span>
        </td>
       	<td>
			<a href="%%[base_url]%%/contact.php?contact_id=%%[contact_id]%%">%%[client_name]%%</a>
        </td>
        <td>
        	%%[client_phone]%% %%[phone_notes]%%
        </td>
        <td>
        	%%[client_phone_alt]%% %%[phone_notes_alt]%%
        </td>
        <td>
        	%%[address]%%
        </td>
        <td>
        	%%[city]%%
        </td>
        <td>
        	%%[birth_date]%%
        </td>
        <td>
        	%%[ssn]%%
        </td>
    </tr>
%%[end:flex_row]%%
%%[begin:flex_footer]%%
    </tbody>
</table>
%%[end:flex_footer]%%

<script language="JavaScript" type="text/javascript"><!--
var old_ssn_length = 0;

function pika_ssn(what)
{
	if (what.value.length == 3 && old_ssn_length == 2)
	{
		what.value += '-';
	}

	if (what.value.length == 6 && old_ssn_length == 5)
	{
		what.value += '-';
	}

	old_ssn_length = what.value.length;
}

var ac_autotab_on = 1;

function pika_area_code(what, max, field_name)
{	
	if (max > 0 && what.value.length >= max && ac_autotab_on == 1)
	{
		eval('document.form1.' + field_name + '.focus()');
	}

	if (what.value.length >= 3)
	{
		ac_autotab_on = 0;
	}

	else if (what.value.length == 0)
	{
		ac_autotab_on = 1;
	}

	return;
}

var old_phone_length = 0;

function pika_phone(what)
{
	if (what.value.length == 3 && old_phone_length == 2)
	{
		what.value += '-';
	}

	old_phone_length = what.value.length;
}

document.form1.first_name.focus();

//--></script>
