<!-- home.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<!-- page content-->
<div id="motdcontent">
	<h2>Message Board</h2>
	%%[begin:motd]%%
	<div id="motd">
		<strong>%%[title]%%</strong>
		<small>By %%[full_name]%%</small>
		<div id="motd-content-%%[motd_id]%%" style="display:none">
		%%[content]%% ... (<i><a href="#" onclick="toggleMotd(%%[motd_id]%%); return false;">Hide Full Text</a></i>)
		</div>
		<div id="motd-summary-%%[motd_id]%%">
		%%[summary_content]%%
		</div>
	</div>
	<br/>
	%%[end:motd]%%
	
</div>
<script>
document.getElementById('dashboard-nav-item').classList.add('active');

function toggleMotd(id) {
	toggleDiv("motd-summary-"+id);
	toggleDiv("motd-content-"+id);
}
function toggleFeed(id) {
	toggleDiv("feed-summary-"+id);
	toggleDiv("feed-content-"+id);
}

function toggleDiv(id) {
	var div = document.getElementById(id);
	if(div.style.display == "none") {
		div.style.display = "block";
	} else {
		div.style.display = "none";
	}
}
</script>
