<h2>Subscribe to Pika Calendar</h2>

In order to synchronize your calendar appointments with your local calendaring
program you will need to copy the link locations below.  Paste these links into 
your calendaring program iCal subscription URL's.<br/>
<br/>

<h2>Outlook 2007</h2>

<a href="%%[ical_token_link]%%">Outlook Link</a>

<h2>Macintosh iCal (2.0.5+) & Mozilla Sunbird (0.7+)</h2>

<a href="%%[ical_direct_link]%%">iCal & Sunbird Link</a>