<!-- intake_contact_list.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<form name="form1" method="get" action="%%[base_url]%%/intake2.php">
<h2>Prospective Client</h2>
<table id="middle-content" width="100%" summary="">
	<tr valign="top">
		<td class="clf">
			First:<br/>
			<input type=text name=first_name value="%%[first_name]%%" tabindex="1"/><br/>
		</td>
		<td class="clf">
			Middle:<br/>
			<input type=text name=middle_name value="%%[middle_name]%%" tabindex="1"/><br/>
		</td>
		<td class="clf">
			Last (or Org. Name):<br/>
			<input type=text name=last_name value="%%[last_name]%%" tabindex="1"/><br/>
		</td>
		<td class="clf">
			Jr., Sr., etc.<br/>
			<input type=text name=extra_name value="%%[extra_name]%%" tabindex="1"/><br/>
		</td>
		<td class="clf">
			Date of Birth:<br/>
			<input type="text" name="birth_date" value="%%[birth_date]%%" maxlength="25" tabindex="1"/><br/>
		</td>
	</tr>
	<tr>
		<td class="clf" colspan="2">
			Telephone Number: <br/>
			<span class="maskt">
			(<input type=text name="area_code" value="%%[area_code]%%" onkeyup="pika_area_code(this, 3, 'phone');" style="width: 2em;" maxlength="3" tabindex=1 class=maskf>) 
			<input type=text name="phone" value="%%[phone]%%" onkeyup="pika_phone(this);" style="width: 11.2em;" maxlength="8" tabindex="1" class="maskf">
			</span>
		</td>
		<td class="clf">
			%%[ssn_compat_mode]%%
		</td>
		<td class="clf" colspan="2">
			<input type="hidden" name="case_id" value="%%[case_id]%%"/>
			<input type="hidden" name="number" value="%%[number]%%"/>
			<input type="hidden" name="relation_code" value="%%[relation_code]%%">
		    <input type="hidden" name="order_field" value="%%[order_field]%%"/>
		    <input type="hidden" name="order" value="%%[order]%%"/>
		    <input type="hidden" name="offset" value="%%[offset]%%"/>
	    	<input type="submit" name="dmodes" value="Search Names" tabindex="1"/>
	    	or
	    	<input type="submit" name="dmodeb" value="Browse Names" tabindex="1"/>
		</td>
	</tr>
</table>
</form>
%%[begin:intake_text]%%
<h2>Search Results</h2>
<p>
	The following is a list of existing names from the system.  If <strong>%%[con_name]%%</strong> appears on this list,
	click the "Use" button next to their name to re-use their existing information...  
</p>
%%[end:intake_text]%%
%%[search_list]%%
%%[ab_list]%%
%%[begin:flex_header]%%
<table cellpadding="3" cellspacing="0" summary="" width="95%">
	<tbody>
	<tr>
		<th>&nbsp;</th>
		<th>Name</th>
		<th>Phone #</th>
		<th>Alt. #</th>
		<th>Address</th>
		<th>City</th>
		<th>Birth Date</th>
		<th>SSN</th>
	</tr>
%%[end:flex_header]%%
%%[begin:flex_row]%%
    <tr class="row%%[row_class]%%" valign="top">
    	<td class="%%[search_rank]%%">
			<form action="%%[base_url]%%/ops/new_case.php" method="get">
				<input type="hidden" name="thiscon" value="%%[contact_id]%%"/>
				<input type="hidden" name="screen" value="elig"/>
				<input type="submit" value="Use" tabindex="1"/>
				<span class="fas fa-angle-right"></span>
			</form>
        </td>
       	<td>
			<a href="%%[base_url]%%/contact.php?contact_id=%%[contact_id]%%">%%[client_name]%%</a>
        </td>
        <td>
        	%%[client_phone]%% %%[phone_notes]%%
        </td>
        <td>
        	%%[client_phone_alt]%% %%[phone_notes_alt]%%
        </td>
        <td>
        	%%[address]%%
        </td>
        <td>
        	%%[city]%%
        </td>
        <td>
        	%%[birth_date]%%
        </td>
        <td>
        	%%[ssn]%%
        </td>
    </tr>
%%[end:flex_row]%%
%%[begin:flex_footer]%%
    </tbody>
</table>
%%[end:flex_footer]%%
%%[begin:new_contact_link]%%
		<br/><hr noshade/><br/>
		<h2>Create a New Client Record</h2>
			<p>...otherwise, click the "Continue" button below to type <strong>%%[con_name]%%</strong>'s
			 information into a new record on the system.
			</p>

			<form action="%%[base_url]%%/ops/new_case_new_client.php" method="get" autocomplete="off">
			<p>
				<input type="hidden" name="newcon" value="1">
				<input type="hidden" name="first_name" value="%%[first_name]%%">
				<input type="hidden" name="middle_name" value="%%[middle_name]%%">
				<input type="hidden" name="last_name" value="%%[last_name]%%">
				<input type="hidden" name="extra_name" value="%%[extra_name]%%">
				<input type="hidden" name="birth_date" value="%%[birth_date]%%">
				<input type="hidden" name="ssn" value="%%[ssn]%%">
				<input type="hidden" name="area_code" value="%%[area_code]%%">
				<input type="hidden" name="phone" value="%%[phone]%%">
				<input type="hidden" name="screen" value="elig">
				<input type="submit" value="Continue" tabindex="1">
			</p>
			</form>
%%[end:new_contact_link]%%

<script language="JavaScript" type="text/javascript"><!--
var old_ssn_length = 0;

function pika_ssn(what)
{
	if (what.value.length == 3 && old_ssn_length == 2)
	{
		what.value += '-';
	}

	if (what.value.length == 6 && old_ssn_length == 5)
	{
		what.value += '-';
	}

	old_ssn_length = what.value.length;
}

var ac_autotab_on = 1;

function pika_area_code(what, max, field_name)
{	
	if (max > 0 && what.value.length >= max && ac_autotab_on == 1)
	{
		eval('document.form1.' + field_name + '.focus()');
	}

	if (what.value.length >= 3)
	{
		ac_autotab_on = 0;
	}

	else if (what.value.length == 0)
	{
		ac_autotab_on = 1;
	}

	return;
}

var old_phone_length = 0;

function pika_phone_orig(what)
{
	if (what.value.length == 3 && old_phone_length == 2)
	{
		what.value += '-';
	}

	old_phone_length = what.value.length;
}

function pika_phone(what)
{
	var valid_chars = "1234567890";
	var x;
	var i;
	
	for (i = 0; i < what.value.length; i++)
	{		
      if (valid_chars.indexOf(what.value.charAt(i)) < 0) 
      {
         what.value = what.value.substring(0, i) + what.value.substring(i+1);
      }
    }
    
    if (what.value.length > 3)
    {
    	what.value = what.value.substring(0, 3) + '-' + what.value.substring(3);
    }
}

document.form1.first_name.focus();

//-->
document.getElementById('intake-nav-item').classList.add('active');
</script>
