<!-- password.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<div style="padding:5px;" id="form_container">
	<div style="" id="form_header">
		%%[flags]%%
	</div>
	<div style="float:right;padding:5px;width: 500px;" id="form_col2" class="de">
		<!-- AMW -->
		<fieldset id="p-suggestor">
			<legend>Password Suggestor</legend>
			<form name="suggest">
			<div class="radio">
			%%[p_method,p_method,radio,vertical]%%</div>
			<div class="radio">
			Length:
			%%[p_len,p_len,radio]%%</div>
			<br/>
			<p>
			<button type="button" onclick="make_password();">Suggest a New Password</button>
			</p>
			<p>
			<input type="text" name="newpass" id="password-suggest" disabled />
			</p>
			<p>
			<button type="button" onclick="use_password('newpass1');use_password('newpass2');updateStrengthDisplay(document.suggest.newpass.value);">Use This as My Password</button>
			</p>
			</form>
		</fieldset>
		<!-- End AMW -->
		<h2>Password Requirements</h2>
		Minimum Password Strength:&nbsp;%%[pass_min_strength_label]%%<br/>
		Minimum Password Length:&nbsp;&nbsp;&nbsp;%%[pass_min_length_label]%%<br/>
		<h2>Password Strength</h2>
		Password Strength is determined by the number of different types of characters
		that are used in the password.  These can include: numbers, lower case letters,
		upper case letters, and symbols.  The strongest passwords include all of the above
		categories and the weakest only contain one.<br/>
		<br/>
		<font color="Red">Light</font>:  1-2 categories (Ex. secretpass, MyPass, 123PASS)<br/>
		<font color="#ff8800">Moderate</font>:  3 categories (Ex. s3cR3tP4ss, MyPass@home, 123_PASS)<br/>
		<font color="Green">Strong</font>:  All 4 categories (Ex. $3cR3tP@ss, MyP4ss@h0me, 123_PaSS)<br/>
		<h2>Password Length</h2>
		Your %%[branding]%% administrator may choose to require a minimum length for passwords to ensure
		that passwords are harder for outsiders and others to guess.
	</div>
	<div style="float:left;padding:5px" id="form_col1" class="de">
		<h2>Change Password</h2>
		<form method="POST" name="form1" autocomplete="off">
		Your Current Password:<br/>
		%%[oldpass,input_password]%%<br/>
		<br/>
		New Password: <span id="strength_text" style=""></span><br/>
		%%[newpass1,input_password,onkeyup=updateStrengthDisplay(this.value);]%%<br/>
		Confirm New Password:<br/>
		%%[newpass2,input_password]%%<br/>
		%%[action,input_hidden,default=update]%%
		<br/>
	</div>
	
	<div style="clear:both;" id="form_footer">
		<br/>
		%%[action,input_hidden,default=update]%%
		<input type="submit" name="gen" value="Save" class="save" tabindex="1" />
		</form>
		<br/>
	</div>
</div>

%%[passwordGenerator.js,javascript]%%
%%[passwordCheck.js,javascript,parse]%%
<script>
  document.getElementById('password-nav-item').classList.add('active');
</script>
