%%[begin:prefs_form]%%
		Default Office:<br/>
		%%[def_office,office]%%<br/>
		Default Intake Type:<br/>
		%%[def_intake_type,intake_type,noblank]%%<br/>
		Default Add Contact:<br/>
		%%[def_relation_code,relation_codes,noblank]%%<br/>
		Default RSS Interval:<br/>
		%%[def_rss_interval,rss_interval,noblank]%%<br/>
		%%[r_format,input_hidden,default=html]%%
		Case List Length:<br/>
		%%[paging,input_text,maxlength=3]%%<br/>
		%%[popup,yes_no,checkbox,label=Open Case Links in New Window]%%<br/>
		%%[keep_sidebar_collapsed,yes_no,checkbox,label=Keep Sidebar Collapsed]%%<br>
%%[end:prefs_form]%%

