<!-- system-groups.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
%%[begin:view_groups]%%
<h2>%%[branding]%% Security Groups</h2>
<a class="btn btn-primary" href="%%[base_url]%%/system-groups.php?action=add">Add New Group</a><br/>
<div class="row" style="margin-top: 5px"></div>
%%[group_list]%%
%%[end:view_groups]%%

%%[begin:edit_group]%%
<form action="%%[base_url]%%/system-groups.php" method="GET">

<table class="table table-striped">
<tr valign="top"> 
	<td class="de" colspan="2">
		<h2>Group Identification</h2>
		Group ID:<br/>
		%%[group_id,input_text]%%
	</td>
</tr>
<tr>
	<td colspan="2">
		<h2>Case Permissions</h2>
	</td>
</tr>
<tr valign="top"> 
	<td class="de"> 
		Read Office Records:<br/>
		%%[read_office,input_text]%%<br/>
		Read All Records:<br/>
		%%[read_all,yes_no,radio]%%
	</td>
	<td nowrap class="de">
		Edit Office Records:<br/>
		%%[edit_office,input_text]%%<br/>
		Edit All Records:<br/>
		%%[edit_all,yes_no,radio]%%
	</td>
</tr>
<tr>
	<td colspan="2">
	<h2>System Permissions</h2>
	</td>
</tr>
<tr>
	<td class="de">
		Message Board Configuration:<br/>
		%%[motd,yes_no,radio]%%<br/>
        Pro Bono Attorney Management:<br/>
		%%[pba,yes_no,radio]%%<br/>
		User Account Management:<br/>
		%%[users,yes_no,radio]%%
	</td>
	<td class="de">
		Available Reports:<br/>
		%%[reports,reports,multiselect,noblank]%%
	</td>
</tr>
</table>
<br/>
%%[action,input_hidden]%%
<input class="btn btn-primary" type="submit" name="Submit" value="Save">
</form>
%%[end:edit_group]%%

%%[begin:flex_header]%%
<table class="table table-striped" cellspacing="0" summary="">
<tr>
	<th scope="col" nowrap>Group Name</th>
	<th scope="col" nowrap>Read by Office</th>
	<th scope="col" nowrap>Read All</th>
	<th scope="col" nowrap>Edit by Office</th>
	<th scope="col" nowrap>Edit All</th>
	<th scope="col" nowrap>User Accounts</th>
	<th scope="col" nowrap>Pro Bono List</th>
	<th scope="col" nowrap>Message Board</th>
</tr>
%%[end:flex_header]%%
%%[begin:flex_row]%%
<tr class="%%[css_class]%%">
	<td><a class="btn btn-secondary btn-sm" href="%%[base_url]%%/system-groups.php?action=edit&group_id=%%[group_id]%%">%%[group_id]%%</a></td>
	<td>%%[read_office]%%</td>
	<td>%%[read_all]%%</td>
	<td>%%[edit_office]%%</td>
	<td>%%[edit_all]%%</td>
	<td>%%[users]%%</td>
	<td>%%[pba]%%</td>
	<td>%%[motd]%%</td>
</tr>
%%[end:flex_row]%%
%%[begin:flex_footer]%%
</table>
%%[end:flex_footer]%%
