<!-- system-menus.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified January 2020 By Metatheria, LLC | https://metatheria.solutions -->
%%[begin:view]%%
<h2>Menu Listing</h2>
<div class="row">
  <div id="col1" class="col-sm">%%[col1,menu_list0,ul]%%</div>
  <div id="col2" class="col-sm">%%[col2,menu_list1,ul]%%</div>
  <div id="col3" class="col-sm">%%[col3,menu_list2,ul]%%</div>
  <div id="col3" class="col-sm">%%[col4,menu_list3,ul]%%</div>
</div>
%%[end:view]%%

%%[begin:edit_item]%%
<div class="row">
  <div class="col-sm">
  <h2>Editing Menu: %%[menu_name]%%</h2>
  <form onsubmit="validate();return false;">
  Value:<br/>
  %%[value_input]%%<br/>
  Label:%%[label_db_type,class=form-control]%%<br/>
  %%[label]%%<br/>
  %%[enabled]%%
  %%[old_value,input_hidden]%%
  %%[action,input_hidden,default=update]%%
  %%[menu_name,input_hidden]%%
  <br/>
  <input class="btn btn-primary" type="submit" name="update" value="Update" class="save" tabindex="1" />
  </form>
  </div>
</div>
%%[system-menus.js,javascript]%%
%%[end:edit_item]%%

%%[begin:edit]%%

<h2>Editing: %%[menu_name]%%</h2>

<a href="%%[base_url]%%/system-menus.php?action=edit_menu_classic&menu_name=%%[menu_name]%%">Switch to Classic Mode</a>
&nbsp;|&nbsp;
<a href="%%[base_url]%%/system-menus.php?action=edit_item&menu_name=%%[menu_name]%%">Add New Menu Item</a><br/>
%%[menu_list]%%

%%[end:edit]%%

%%[begin:edit_classic]%%
<h2>Editing: %%[menu_name]%%</h2>
<a href="%%[base_url]%%/system-menus.php?action=edit_menu&menu_name=%%[menu_name]%%">Exit Classic Mode</a>
<form method="POST" action="%%[base_url]%%/system-menus.php?action=update_classic&menu_name=%%[menu_name]%%">
%%[values,input_textarea,rows=20,cols=80]%%
<br/>
<input class="btn btn-primary" type="submit" name="save" value="Save" class="save" tabindex="1" />
</form>
%%[end:edit_classic]%%


%%[begin:confirm_delete]%%
<div style="float:left;margin: 4px;">
<h2>Confirm Delete</h2>
Are you sure that you would like to delete this menu item?<br/>
<br/>
<b>(%%[value]%%) = %%[label]%%</b><br/>
<br/>
<br/>
<form>
%%[action,input_hidden,default=delete]%%
%%[menu_name,input_hidden]%%
%%[value,input_hidden]%%
<input class="btn btn-danger" type="submit" value="Delete" name="delete" class="save" tabindex="1"/>
<input class="btn btn-secondary" type="submit" value="Cancel" name="cancel" class="save" tabindex="1"/>
</form>
</div>
%%[end:confirm_delete]%%



%%[begin:flex_header]%%
<table class="table table-striped">
<tr>
	<th scope="col">Value</th>	
	<th scope="col">Label</th>	
	%%[enabled_header]%%
	<th scope="col">Actions</th>	
</tr>
%%[end:flex_header]%%
%%[begin:flex_row]%%
<tr>
	<td>%%[value]%%</td>
	<td>%%[label]%%</td>
	%%[enabled_column]%%
	<td>
	<a href="%%[base_url]%%/system-menus.php?action=edit_item&menu_name=%%[menu_name]%%&value=%%[value]%%">Edit</a>
	&nbsp;|&nbsp;
	<a href="%%[base_url]%%/system-menus.php?action=confirm_delete&menu_name=%%[menu_name]%%&value=%%[value]%%">Delete</a>
	&nbsp;|&nbsp;
	<a href="%%[base_url]%%/system-menus.php?action=move_up&menu_name=%%[menu_name]%%&value=%%[value]%%">Up</a>
	&nbsp;|&nbsp;
	<a href="%%[base_url]%%/system-menus.php?action=move_down&menu_name=%%[menu_name]%%&value=%%[value]%%">Down</a>
	</td>
</tr>
%%[end:flex_row]%%
%%[begin:flex_footer]%%
</table>
%%[end:flex_footer]%%
