%%[begin:edit_feed]%%
<h2 class="hdt">Edit RSS Feed</h2>
<form action="%%[base_url]%%/system-feeds.php" method="GET">
<div style="padding:5px">
Feed ID: %%[feed_id]%%<br/>
<br/>
Name:<br/>
%%[name,input_text]%%<br/>
Feed URL:<br/>
%%[feed_url,input_text,size=80]%%<br/>
<br/>
Enabled:<br/>
%%[enabled,yes_no,radio,vertical]%%
<br/>
Feed List Limit (No. of Items displayed):<br/>
%%[list_limit,input_text]%%<br/><br/>
</div>
<input type="hidden" name="action" value="update">
%%[feed_id,input_hidden]%%
<input class="btn btn-primary" type="submit" name="update" value="Update">
</form>
%%[end:edit_feed]%%

%%[begin:flex_header]%%
<table class="table table-striped" cellspacing="0" cellpadding="3" summary="" border="0">
	<tr>
		<th scope="col">Name</th>
		<th scope="col">Type</th>
		<th scope="col">Enabled</th>
		<th scope="col">Limit</th>
		<th scope="col">Actions</th>
	</tr>
%%[end:flex_header]%%
%%[begin:flex_row]%%
	<tr valign="top" class="%%[css_class]%%">
		<td>%%[name]%%</td>
		<td>%%[feed_type]%%</td>
		<td>%%[enabled]%%</td>
		<td>%%[list_limit]%%</td>
		<td>
		<a class="btn btn-outline-success btn-sm" href="%%[base_url]%%/system-feeds.php?action=edit&feed_id=%%[feed_id]%%">Edit</a>
		<a class="btn btn-outline-danger btn-sm" href="%%[base_url]%%/system-feeds.php?action=confirm_delete&feed_id=%%[feed_id]%%">Delete</a>
		</td>	
	</tr>
%%[end:flex_row]%%
%%[begin:flex_footer]%%
</table>
%%[end:flex_footer]%%

%%[begin:list_feeds]%%
<h2>Current Feeds</h2>
%%[feed_list]%%
<br/>
<h2>Add New Feed</h2>
<a class="btn btn-outline-info" href="%%[base_url]%%/system-feeds.php?action=new_feed">Add Feed</a>
%%[end:list_feeds]%%

%%[begin:confirm_delete]%%
<h2>Delete Feed ID: %%[feed_id]%%</h2>
Are you sure you wish to delete this feed?<br/>
<a class="btn btn-danger" href="%%[base_url]%%/system-feeds.php?action=delete&feed_id=%%[feed_id]%%">Delete Feed</a>
%%[end:confirm_delete]%%
