<!-- textFormat.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<div id="demodiv" class="thinborder" style="visibility: hidden; position:absolute; background-color: white; padding: .5em; text-align:right;">
		<span class="yh">Yellow Hi-lite</span>:  
		<a href="javascript:no_op()" onclick="AddTag('[y]');"><i class="fas fa-toggle-on" style="color: green"></i></a>
		<a href="javascript:no_op()" onclick="AddTag('[/y]');"><i class="fas fa-toggle-on fa-flip-horizontal" style="color: red"></i></a>
		<br/>
		<span class="ph">Pink hi-lite</span>:  
		<a href="javascript:no_op()" onclick="AddTag('[p]');"><i class="fas fa-toggle-on" style="color: green"></i></a>
		<a href="javascript:no_op()" onclick="AddTag('[/p]');"><i class="fas fa-toggle-on fa-flip-horizontal" style="color: red"></i></a>
		<br/>
		<b>Bold</b>:
		<a href="javascript:no_op()" onclick="AddTag('[b]');"><i class="fas fa-toggle-on" style="color: green"></i></a>
		<a href="javascript:no_op()" onclick="AddTag('[/b]');"><i class="fas fa-toggle-on fa-flip-horizontal" style="color: red"></i></a>
		<br/>
		<i>Italic</i>:
		<a href="javascript:no_op()" onclick="AddTag('[i]');"><i class="fas fa-toggle-on" style="color: green"></i></a>
		<a href="javascript:no_op()" onclick="AddTag('[/i]');"><i class="fas fa-toggle-on fa-flip-horizontal" style="color: red"></i></a>
		<br/>
		<span class="ul">Underline</span>:
		<a href="javascript:no_op()" onclick="AddTag('[u]');"><i class="fas fa-toggle-on" style="color: green"></i></a>
		<a href="javascript:no_op()" onclick="AddTag('[/u]');"><i class="fas fa-toggle-on fa-flip-horizontal" style="color: red"></i></a>
		<br/>
		<span class="lt">Line Through</span>:
		<a href="javascript:no_op()" onclick="AddTag('[l]');"><i class="fas fa-toggle-on" style="color: green"></i></a>
		<a href="javascript:no_op()" onclick="AddTag('[/l]');"><i class="fas fa-toggle-on fa-flip-horizontal" style="color: red"></i></a>
		<br/>
		<strong>X</strong> <a href="javascript:toggleBox('demodiv',0);">Close</a>
		</div>
