<!-- form.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<h2>Flagged Case Report</h2>
<form action="%%[base_url]%%/reports/%%[report_name]%%/report.php" method="POST" name=form1 target="_blank">
<div class="container-fluid">
  <div class="row">
    <div class="col">
      Opened On or After:<br/>
      %%[open_date_begin,input_date_selector]%%<br/>
      Opened On or Before:<br/>
      %%[open_date_end,input_date_selector]%%<br/>
  </div>
  <div class="col">
    Closed On or After:<br/>
    %%[close_date_begin,input_date_selector]%%<br/>
    Closed On or Before:<br/>
    %%[close_date_end,input_date_selector]%%<br/>
  </div>
  <div class="col">
    Funding:<br/>
    <input type="text" class="form-control" name="funding" value="" tabindex="1"><br/>
    Office:<br/>
    <input type="text" class="form-control" name="office" value="" tabindex="1" /><br/>
    Status:<br/>
    <input type="text" class="form-control" name="status" value="" tabindex="1" />
  </div>
  <div class="col">
    Limit:<br/>
    %%[limit,limit]%%<br/>
    %%[report_format,checkbox,default_value=csv,label=Send to a spreadsheet]%%<br/>
    %%[show_sql,checkbox,label=Show SQL]%%<br/>
  </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="submit" name="gen" value="Generate Report" class="btn btn-primary" tabindex="1" />
    </div>
  </div>
</div>
</form>
<script>
  $('#reportSubmenu').toggleClass('show');
</script>
%%[ajax_init.js,javascript]%%
%%[date_selector.js,javascript,parse]%%
