<!-- form.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<h2>Current Codes</h2>
<div class="container-fluid">
<div class="row">
  <div class="col">
    <form action="%%[base_url]%%/reports/%%[report_name]%%/report.php" method="POST" name=form1 target="_blank">
    <p>Please select preferred sort order for the users table</p>
    <label class="radio-inline">
      <input type="radio" name="usersort" value="idnum">By ID Number 
    </label>
    <label class="radio-inline">
      <input type="radio" name="usersort" value="last">By Last Name
    </label>
    <br/>
  </div>
</div>
<div class="row" style="margin-top:5px">
  <div class="col">
    <input type="submit" name="gen" value="Get Current Codes" class="btn btn-primary" tabindex="1" />
  </div>
</div>
    </form>
</div>
<script>
  $('#reportSubmenu').toggleClass('show');
</script>
%%[ajax_init.js,javascript]%%
%%[date_selector.js,javascript,parse]%%
